<!-- begin footer.html -->
<footer class="footer">
  <hr style="padding: 1em;"/>
  <div id="footer" class="container">
    <div class="row">
      <div class="col-sm-6">
        {{ if .Page.SrcRel }}<a style="padding-left: 1em;" href="https://github.com/tobert/tobert.github.io/commits/master/src{{ .Page.SrcRel }}">ChangeLog</a>{{ else }}<a style="padding-left: 1em;" href="https://github.com/tobert/tobert.github.io">Source Code</a>{{ end }}
      </div>
      <div class="col-sm-6">
        <span class="pull-right" style="padding-right: 1em;">By: <a href="/about.html">Amy Tobey</a></span>
      </div>
    </div>
  </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{{ if .Page.SyntaxHl }}<script src="/js/rainbow.min.js"></script>{{ end }}
{{ with .Page.Script }}<script>{{ . }}</script>{{ end }}
</body>
</html>
