blockquote, q {
    quotes: none;
    font-size: 50px;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

body {
    min-height: 740px;
    background: #fdfdfd;
    background: linear-gradient(to bottom,  #fdfdfd 0%, #eaf0f9 100%);
	z-index: 1;
}

.impressive-bg-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  font-size: 18px;
  text-align: right;
  z-index: 2;

/*  background: url(../images/summit-bg-bottom.png);
  background-size: 100% auto; */
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    transition: 0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.

    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?

    And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
    line-height: 1.3;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*
    Now let's style the presentation steps.
    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
    min-width: 900px;
    width: 100%;
    padding: 40px;
    margin: 20px auto;
    box-sizing: border-box;
    font-size: 48px;
    line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
    transition: opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;
    width: 900px;
    height: 700px;
    padding: 40px 60px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.graph {
    display: block;
    overflow: visible;
    min-height: 600px;
    min-width: 800px;
    background: rgb(215, 215, 215);
    background: radial-gradient(rgb(240, 240, 240), rgb(220, 220, 220));
    border-radius: 10px;
    box-shadow: 0 8px 14px rgba(20, 20, 20, 99);
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 14px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;
    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

.venn-diagram {
  width: 600;
  height: 400;
}

img {
  width: 1024px;
}

pre {
  width: 1200px;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: none;
  word-wrap: none;
  overflow: hidden;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 8px 14px rgba(20, 20, 20, 99);
}
