---
id: "index"
title: "@MissAmyTobey Writes"
abstract: "The Blog of Amy Tobey"
tags: [
  "altobey",
  "amytobey",
  "tobey",
  "linux",
  "unix",
  "golang",
  "cassandra",
  "datastax",
  "perl",
  "monitoring",
  "storage",
  "life",
  "universe",
  "everything"
]
pubdate: 2014-04-16T17:00:00Z
autoidx: false
---
<div class="container-fluid" id="index-body">
  <div class="col-md-8">
    <ul class="nav nav-sidebar">
      {{ range $i, $page := .Pages }}{{ if eq $page.AutoIdx true }}
      <li><a href="{{ $page.PubRel }}">{{ if $page.Date }}{{ $page.Date.Format "2006-01-02" }} - {{ end }}{{ $page.Title |html }}</a></li>{{ end }}{{ end }}
    </ul>
  </div>

  <div class="col-md-4" id="timeline">
{{ template "timeline.html" . }}
  </div>
</div>
